.task-prefix {
    font-family: var(--font-red-hat-display);
    color: var(--gray-11);
}

.task-id {
    color: var(--gray-12);
}

.external-link-button {
    background-color: transparent;
    border: 1px solid var(--gray-4);
}

.external-link-button:hover {
    background-color: var(--gray-3);
}

.close-button {
    color: var(--gray-12);
    background-color: transparent;
}

.close-button:hover {
    background-color: var(--gray-5);
}

.header-bar {
    border-bottom: 1px solid var(--gray-6);
}

.segments-item {
    width: fit-content;
}