.status-pending {
    position: relative;
    /* border-radius: 999px; */
    pointer-events: none;
    opacity: 0.7;
}

.status-pending::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: 999px;
    padding: 2px;
    /* box-shadow: 0 0 8px rgba(59, 130, 246, 0.6); */

    background: linear-gradient(90deg,
            transparent,
            var(--accent-5),
            transparent);

    background-size: 200% 100%;
    animation: borderMove 2.4s linear infinite;

    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);

    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

@keyframes borderMove {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}