.close-button {
    color: var(--gray-11);
    background-color: transparent;
}

.close-button:hover {
    background-color: var(--gray-5);
}

.rt-BaseDialogScroll, .rt-DialogScroll {
    background-color: red !important;
}