.main-container {
    border-radius: var(--radius-3);
    transition: all 0.2s ease;
}

.main-container.focus {
    box-shadow: var(--shadow-4);
}

.comment-editor-container {
    box-shadow: var(--shadow-4);
}

.editor {
    height: 100%;
    max-height: 250px;
    overflow-y: auto;
    align-content: center;
    font-size: var(--font-size-2);
    padding-right: var(--space-2);
    outline: none;

    mask-image: linear-gradient(
        to bottom,
        transparent,
        var(--gray-12) var(--space-1),
        var(--gray-12) calc(100% - var(--space-1)),
        transparent
    );
}

.editor p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    color: var(--gray-9);
    pointer-events: none;
    float: left;
    height: 0;
}

.editor::-webkit-scrollbar {
  width: var(--space-1);
}

.editor::-webkit-scrollbar-track {
    margin: var(--space-2) 0;
    background-color: transparent;
}

.editor::-webkit-scrollbar-thumb {
    background-color: var(--gray-8);
    border-radius: 999px;
    cursor: default;
}

.editor::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-9);
}

.editor:first-child {
    padding-top: var(--space-3);
}

.editor:last-child {
    padding-bottom: var(--space-3);
}

.input-area {
    flex-wrap: wrap;
    padding: 0 var(--space-2) 0 var(--space-4);
    border-radius: 0 0 var(--radius-6) var(--radius-6);
    cursor: text;
}

.input-area.long-content {
    flex-direction: column;
}

.action-buttons-container {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
    margin-left: auto;
    transition: opacity 0.2s ease;
}

.action-buttons-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.action-buttons-container.visible {
    opacity: 1;
}

.formatting-buttons-container {
    background-color: var(--gray-3);
    padding: var(--space-1);
    border-radius: var(--radius-3) var(--radius-3) 0 0;
    border-bottom: none;

    overflow: hidden;
    max-height: var(--space-7);

    transition:
        max-height 0.2s ease,
        opacity 0.2s ease,
        padding-top 0.2s ease,
        padding-bottom 0.2s ease;
}

.formatting-buttons-container.hidden {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    pointer-events: none;
}

.formatting-buttons-section {
    border-radius: var(--radius-6);
    background-color: var(--gray-3);
}

.formatting-button {
    border-radius: var(--radius-2);
}

.formatting-button.active {
    background-color: var(--gray-5);
}

.format-button--active:hover {
    background-color: var(--gray-7);
}