:root {
  --background: #ffffff;
  --foreground: #171717;
}

.radix-themes {
  --default-font-family: var(--font-figtree);
}

.radix-themes :where(button, a, input, select, textarea, [role="button"]) {
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease,
}

.rt-SelectContent,
.rt-HoverCardContent {
  box-shadow: var(--shadow-3);
}

.rt-SelectItem,
.rt-IconButton {
  transition: background-color 0.2s ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Container {
  background-color: var(--gray-2);
}

.rt-TableBody .rt-TableRow {
  transition: background-color 0.2s ease;
}

.rt-TableBody .rt-TableRow:hover {
  background-color: var(--accent-2);
}

.rt-HoverCardContent {
  min-width: 380px;
  max-height: var(--radix-hover-card-content-available-height);
  font-size: 0.85rem;
}

.HoverCard-Content ul,
.HoverCard-Content ol {
  margin-left: 2rem;
}

.ButtonWithLink:hover {
  color: var(--accent-11);
  text-decoration: none;
}

.EditNotesCancelButton {
  background-color: transparent;
}

.EditNotesCancelButton:hover {
  background-color: var(--accent-3);
}

.NoDetailsText {
  color: var(--gray-9);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  margin: 16px 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-8);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-9);
}

.rt-TooltipArrow {
  display: none !important;
}

a {
  color: var(--accent-9);
  text-decoration: underline;
}

a:hover {
  color: var(--accent-11);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

